@media screen and (min-width: 428px) {
  h1 {
    font-size: 36px;
  }
  .features-title {
    font-size: 36px;
  }
  .features-text {
    font-size: 16px;
  }
  .subscribe-input {
    width: 398px;
  }
}

@media screen and (min-width: 768px) {
  br {
    display: block;
  }

  h1 {
    color: var(--main-bcg-color);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-transform: capitalize;
  }

  .features {
    padding: 15px;
  }

  .features-title {
    text-align: start;
  }

  .container {
    max-width: 768px;
  }

  .team > .container,
  .footer > .container,
  .customers > .container {
    max-width: 552px;
  }

  .features-list {
    flex-wrap: wrap;
    gap: 72px 24px;
    flex-direction: row;
  }

  .team-item,
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .team-wrap {
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .customers-logo {
    width: 104px;
    height: 56px;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }
  .subscribe-input {
    background-color: transparent;
    color: var(--color-white);
    max-width: 264px;
  }
  .footer-wrap {
    gap: 0 24px;
    justify-content: start;
  }
  .footer-link {
    text-align: start;
  }
  .footer-left {
    margin: 0;
  }

  .footer-social > .footer-social-text {
    margin-top: 0;
  }

  .subscribe-title,
  .footer-social-text {
    text-align: start;
  }
  .modal-form {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  br {
    display: none;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .container {
    max-width: 1158px;
  }
  .section {
    padding: 120px 0;
    /* text-align: center; */
  }

  .features-icon {
    border-radius: 4px;
    background: var(--color-cloud);
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .features-text {
    font-weight: 400;
  }
  .customers-list,
  .team-wrap,
  .features-list {
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .portfolio {
    padding-top: 0;
    display: block;
  }

  .portfolio-title {
    margin-bottom: 72px;
    text-transform: capitalize;
  }

  .portfolio-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .team > .container,
  .footer > .container,
  .customers > .container {
    max-width: 1158px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .customers-item {
    width: calc((100% - 5 * 24px) / 6);
  }
  .footer-wrap {
    gap: 0;
  }
  .footer-left {
    margin-right: 120px;
  }
  .footer-social {
    margin: 0;
    margin-right: 80px;
  }
  .subscribe-title,
  .footer-social-text {
    margin-top: 0;
  }
}
